@font-face {
    font-family: a;
    src: url(./assets/CircularXXWeb-Book.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: a;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}


body{
    background-image: url(./assets/Stars.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
// Anchor reset
a {
  text-decoration: none;
  color: inherit;
}

// Flexbox Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@import './Styles/nav';



main{
    height: 100%;
    width: 100%;


}