* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
main{
  height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.btn-grp{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
button{
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 20px;
}